<div class="container animated fadeIn">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img src="assets/images/contact-image.jpg" class="img img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="medium raleway text-justify">
                <p>
                    Darwin Quiroz, ingeniero en sistemas, graduado en el 2017, me gusta estar informado de todo lo que tenga que ver con tecnología y me interesa todo aquello que involucre un nuevo aprendizaje.
                </p>

                <p>Programador con conocimientos en:</p>
                <p>- Desarrollo de aplicaciones web:</p>
                <ul>
                    <li>PHP + Laravel</li>
                    <li>MongoDB + Express + Angular + NodeJS (MEAN)</li>
                </ul>

                <p>- Desarrollo de aplicaciones móviles (híbridas):</p>
                <ul>
                    <li>InoicFramework v3</li>
                </ul>
            </section>
        </div>
    </div>
</div>