<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a [routerLink]="['/']" class="navbar-brand dancing-script medium">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li [routerLinkActive]="['activated']">
                        <a routerLink="/home">
                            <span class="glyphicon glyphicon-briefcase"></span> Portafolio
                        </a>
                    </li>

                    <li [routerLinkActive]="['activated']">
                        <a routerLink="/about">
                            <span class="glyphicon glyphicon-user"></span> Acerca de mí
                        </a>
                    </li>

                    <li [routerLinkActive]="['activated']">
                        <a routerLink="/contact">
                            <span class="glyphicon glyphicon-comment"></span> Contacto
                        </a>
                    </li>

                    <li *ngIf="token" [routerLinkActive]="['activated']">
                        <a routerLink="/admin/projects">
                            <span class="glyphicon glyphicon-tasks"></span> Proyectos
                        </a>
                    </li>

                    <li *ngIf="token">
                        <a class="pointer" (click)="authService.logout()">
                            <span class="glyphicon glyphicon-log-out"></span> Salir
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>


<footer class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="fa-3x">
                    <a href="https://www.facebook.com/darwin.qb" target="blank">
                        <i class="fab fa-facebook"></i>
                    </a>

                    <a href="https://twitter.com/DarwinQrz" target="blank">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a href="https://github.com/DarwinQuiroz" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>