<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Iniciar Sesión</div>
            <div class="panel-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label class="control-label" for="email">Correo Electrónico</label>
                        <input [(ngModel)]="user.email" #email="ngModel" class="form-control" type="email" name="email" required aria-describedby="error" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autofocus>
                        <!-- <span id="error" class="help-block" *ngIf="email.invalid">
                            <div *ngIf="email.errors.required; else invalidEmail" class="error-text">
                                <i>   Ingresa tu correo* </i>
                            </div>
                            <ng-template #invalidEmail>
                              <span class="warnig-text">El correo es inválido.</span>
                        </ng-template>
                        </span> -->
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password">Contraseña</label>
                        <input [(ngModel)]="user.password" #password="ngModel" class="form-control" type="password" name="password" required>
                    </div>


                    <button type="submit" class="btn btn-success pull-right" [disabled]="loginForm.form.invalid">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>