<div class="row animated fadeInDownBig">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form #projetcForm="ngForm" (ngSubmit)="save(projetcForm)">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="ps.project.title" id="title" placeholder="Título" required focus>
            </div>

            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea name="description" #description="ngModel" [(ngModel)]="ps.project.description" id="description" rows="2" class="form-control" placeholder="Descripción" required></textarea>
            </div>

            <div class="form-group">
                <label for="description">Detalles</label>
                <textarea name="details" #details="ngModel" [(ngModel)]="ps.project.details" id="details" rows="5" class="form-control" placeholder="Detalles" required></textarea>
            </div>

            <div class="form-group">
                <label for="repo">Repositorio</label>
                <input type="url" name="repo" #repo="ngModel" [(ngModel)]="ps.project.repo" class="form-control" id="repo" placeholder="Repositorio" required>
            </div>

            <div class="form group">
                <input type="file" (change)="fileChangeEvent($event)">
            </div>

            <div class="form-group pull-right">
                <a routerLink="/">Volver</a>
                <button type="submit" class="btn btn-success " [disabled]="projetcForm.form.invalid">Guardar</button>
            </div>
        </form>
    </div>
</div>